

.navbar{
    background-color: var(--background-color);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-eve;
    align-items: center;
    color: var(--text-color);
    padding: 0 3% 0 3%;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255, 0.18);
    margin-bottom: 10px;
    z-index: 2;
    
    .navbar-logo{
        font-family: var(--title-font);
        margin-top: 10px;
        height: 200px;
        width: auto;
    }
    .navbar-links{
        display: flex;
        justify-content: space-evenly;
        font-family: var(--text-font);
        list-style: none;
        margin: 0 auto;
        
        li{
            color: var(--text-color);
            text-decoration: none;
            font-size: 3rem;
            display: flex;
            flex-direction: column;
            margin: 0 10px 0 10px;
            justify-content: space-evenly;
            a{
                color: var(--white);
                text-decoration: none;
                font-weight: 500;
                text-transform: uppercase;
                padding: 0 50px;

                transition: all 0.3s ease-in-out;
                &:hover{
                    color: var(--orange);
                }
            }
        }
        @media screen and (max-width: 899px){
            display:  none;
        }
    }
}

.navbar-menu{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    img{
        width: 90px;
        height: 75px;
        color: var(--white);
        margin-right: 55px;
    }
    div{
        position: fixed;
        top: 0;
        right: 0;
        z-index: 5;

        width: 40%;
        height: 100vh;
        
        display: flex;
        justify-content: end;
        align-items: flex-end;
        flex-direction: column;

        background-color: var(--light-gray);
        background-size: cover;
        background-repeat: repeat;

        box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);
        svg{
            width: 155px;
            height: 155px;
            color: var(--black);
            background-color: transparent;
        }
        ul{
            list-style: none;
            background-color: transparent;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;

            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            li{
              text-decoration: none;

              display: flex;
              justify-content: flex-start;
              background-color: transparent;
              color: black;
              background: transparent; 
              align-items: flex-start;
              flex-direction: column; 
              a{
                background-color: transparent;
                margin: 20px 10px 20px 0;
                text-transform: uppercase;
                font-weight: 500;

                transition: all 0.3s ease-in-out;
                &:hover{
                    color: var(--orange);
                }
              }
            }
        }
    }
    @media screen and (min-width: 900px){
        display: none;
    }
}